<div class="container-fuild">
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a href="/"><img src="https://traicay141.vn/upload/hinhanh/logo-3974-89140.png" alt=""></a>
        </li>
        <li>
            <form class="d-flex" style="margin-top: 11%;" method="post" action="/san-pham/search">
                <input class="form-control me-2" type="search" placeholder="Tìm kiếm ..." aria-label="Search" name="search">
                <button class="btn btn-outline-success" type="submit" style="color: white">Tìm kiếm</button>
            </form>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/home">Trang chủ</a>
        </li>
        <li class="nav-item dropdown" id="dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Sản phẩm
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <% dataHeaderSp.forEach((data) => { 
                        %>
                        <li><a class="dropdown-item" href="/san-pham/loai-san-pham/<%= data.ID %> "><%= data.Ten %></a></li>
                    <% 
                }) %>
                
            </ul>
        </li>
        <li class="nav-item dropdown" id="dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Xuất xứ
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <% dataHeaderXx.forEach((data) => { 
                        %>
                        <li><a class="dropdown-item" href="/san-pham/xuat-xu/<%= data.ID %> "><%= data.XuatXu %></a></li>
                    <% 
                }) %>
                
            </ul>
        </li>
        <% if(!sessionID) { %>
            <li class="nav-item">
                <a href="/login"><button type="button" class="btn btn-success">Đăng nhập</button></a>
            </li>
            <li class="nav-item">
                <a href="/signup"><button type="button" class="btn btn-danger">Đăng ký</button></a>
            </li>
        <% } else { %>
            <li class="nav-item dropdown" id="dropdown">
                <button class="dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="background: rgba(0,232,93,0.5); color: white;border: 0px;">
                Tài khoản: <%= sessionID.TenTK %>
                </button>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/changePass">Đổi mật khẩu</a></li>
                <li><a class="dropdown-item" href="/cart">Giỏ hàng</a></li>
                <li><a class="dropdown-item" href="/don-hang">Đơn hàng hiện có</a></li>
                <li><a class="dropdown-item" href="/don-hang/lich-su">Lịch sử đặt hàng</a></li>
                <li><a class="dropdown-item" href="/login">Đăng xuất</a></li>
                </ul>
            </li>
        <% } %>
    </ul>
    <script src="/customer/js/popper.min.js"></script>
    <script src="/customer/js/bootstrap.min.js"></script>
</div>